﻿@model IEnumerable<OdeToFood.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if(User.IsInRole("Admin")){ @Html.ActionLink("Create New", "Create") }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @if(User.IsInRole("Admin")) { @Html.ActionLink("Edit", "Edit", new { id=item.Id }) @Html.Label("|")}
                @Html.ActionLink("Reviews", "Index", "Reviews", new { id = item.Id}, null)
                @if(User.IsInRole("Admin")) { @Html.Label("|") @Html.ActionLink("Delete", "Delete", new { id=item.Id })}
            </td>
        </tr>
    }
</table>
