﻿@model IPagedList<RestaurantListViewModel>
<div id="restaurantlist">

    <div class="pagedList" data-otf-target="#restaurantlist">
        @Html.PagedListPager(Model, page => @Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>


    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Name</h4>
            <p>@item.City, @item.Country</p>
            <p>Reviews: @item.CountOfReviews</p>
        </div>
    }
</div>
